extends base.pug
block content
  include layouts/header
  main.articles-category
    h1 Бизнес
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each val in themes
          li.themes__item
            a.themes__item-link(href=val.href)=val.title
              sup=val.sup
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each val in articles
          if val.posterSrc
            li.preview__item
              ul.preview__breadcrumbs
                each breadcrumb in val.breadcrumbs
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href=breadcrumb.link)=breadcrumb.title
              .preview__background
                img.preview__background-image(src=val.posterSrc + '@1x.jpg' width="460" height="240" srcset=val.posterSrc + "@1x.jpg 1x," + val.posterSrc + "@2x.jpg 2x" alt="Фотография небоскреба")
              time.preview__time(datetime=val.date.dateRaw)=val.date.dateText
              h3.preview__name
                a.preview__name-link(href="#")=val.title
              p.preview__text=val.text
              a.preview__comment(href="#")="Комментарии"
                span.preview__cloud
                b.preview__comment-count=val.commentsCount
          else
            li.preview__item.preview__item--noimage
              ul.preview__breadcrumbs
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href="#") Фриланс
              time.preview__time(datetime="2019-03-21T20:33") 21.03.2019, 20:33
              h3.preview__name
                a.preview__name-link(href="#")=val.title
              p.preview__text=val.text
              a.preview__comment(href="#")="Комментарии"
                span.preview__cloud
                b.preview__comment-count=val.commentsCount
