extends base.pug
block content
  include layouts/header
  main.main-page.main-page--padding
  section.main-page__publication.publication
    h1.publication__title Комментарии
    ul.publication__list
      each val, index in commentsList
        if index + 1 >= commentsList.length
          li.publication__list-item.publication__list-item--last
            publication__header
              img.publication__list-image(src=val.avatarSrc, width='20', height='20', alt='Аватар пользователя')
              b.publication__list-nameval.name
              time.publication__item-time(datetime)
            a.publication__item-text(href)=val.text
            p.publication__text-strong=val.text
            button.publication__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
        else
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=val.avatarSrc, width='20', height='20', alt='Аватар пользователя')
              b.publication__list-nameval.name
              time.publication__item-time(datetime)
            a.publication__item-text(href)=val.text
            p.publication__text-strong=val.text
            button.publication__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
