include layouts/header.pug
main.main-page
  h1.visually-hidden Главная страница личного блога Типотека
  p
    | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
  section.main-page__theme-list
    h2.visually-hidden Список тем
    ul.themes
    - var themes = [ { sup: 88, title: "Автомобили", href="#" }, { sup: 13, title: "Удаленная работа", href="#" }, { sup: 13, title: "Бизнес", href="#" }, { sup: 13, title: "Путешествия", href="#" }, { sup: 13, title: "Дизайн и обустройство ", href="#" }, { sup: 22, title: "Производство игрушек", href="#" }, { sup: 22, title: "UX & UI", href="#" }, ];
      each val in themes
        li.themes__item
          a.themes__item-link(href=val.href)=val.title
            sup=val.sup
  .main-page__section-flex
    section.main-page__hot.hot
      h2.hot__name
        | Самое обсуждаемое
        span.hot__icon.hot__icon--fire
      ul.hot__list
        - var popular = [ { href: "#", text: "Билл Гейтс впервые за два года возглавил рейтинг самых богатых людей мира по версии Bloomberg", sup: 12 }, { href: "#", text: "Модель Кайли Дженнер продаст 51% своей компании Kylie Cosmetics владельцу Factor за $600 млн", sup: 15 }, { href: "#", text: "Модель Кайли Дженнер продаст 51% своей компании Kylie Cosmetics владельцу Factor за $600 млн", sup: 22 }, { href: "#", text: "Tesla получила 146 тысяч предзаказов на электрический пикап Cybertruck за двое суток", sup: 153 }, ];
        each val in popular
          li.hot__list-item
            a.hot__list-link(href=val.href)=val.text
              sup.hot__link-sup=val.sup
    section.main-page__last.last
      h2.last__name
        | Последние комментарии
        span.last__icon.last__icon--cloud
      ul.last__list
        -var lastComments = [ { avatarSrc: "img/avatar-small-1.png", name: "Анна Артамонова", href:"#", text: "Сервис аренды жилья Airbnb стал глобальным партнером Международного олимпийского комитета (МОК) на девять лет, в течение которых пройдет пять Олимпиад, в том числе в Токио в 2020 году." }, { avatarSrc: "img/avatar-small-2.png", name: "Александр Петров", href:"#", text: "Главреды «Дождя», Forbes и других СМИ попросили Роскомнадзор разъяснить штрафы за ссылки на сайты с матом" }, { avatarSrc: "img/avatar-small-3.png", name: "Игорь Шманский", href:"#", text: "Что-то все электрокары в последнее время все на одно лицо делаются))" }, ];
        each val in lastComments
          li.last__list-item
            img.last__list-image(src=val.avatarSrc width="20" height="20" alt="Аватар пользователя")
            b.last__list-name=val.name
            a.last__list-link(href="#")=val.text
  section.main-page__list.preview
    h2.visually-hidden Список превью статей
    ul.preview__list
      - var articles = [ { breadcrumbs: [ { title: 'Дизайн', link: '#' }, { title: 'Удаленная работа', link: '#' } ], podterSrc: 'img/skyscraper@1x.jpg', date: { dateText: '21.03.2019, 20:33', dateRaw: '2019-03-21T20:33', }, title: 'Я ничего не понял', text: 'Если вы сами пишете такие письма — почитайте Ильяхова. А в этой заметке я расскажу про заклинание, которое от таких писем помогает.', commentsCount: 12, }, { breadcrumbs: [ { title: 'Фриланс', link: '#' } ], date: { dateText: '21.03.2019, 20:33', dateRaw: '2019-03-21T20:33', }, title: 'Путин подписал закон о предустановке российских приложений на смартфоны и другую электронику', text: 'Президент России Владимир Путин подписал закон об обязательной предустановке российского программного обеспечения на электронную технику, продаваемую в России. Документ опубликован на официальном сайте правовой информации.', commentsCount: 12, }, { breadcrumbs: [ { title: 'Фриланс', link: '#' } ], podterSrc: 'img/sea@1x.jpg', date: { dateText: '21.03.2019, 20:33', dateRaw: '2019-03-21T20:33', }, title: 'Путешествие в Голландию', text: 'Если вы сами пишете такие письма — почитайте Ильяхова. А в этой заметке я расскажу про заклинание, которое от таких писем помогает.', commentsCount: 12, }, { breadcrumbs: [ { title: 'Дизайн', link: '#' }, { title: 'Удаленная работа', link: '#' } ], podterSrc: 'img/forest@1x.jpg', date: { dateText: '21.03.2019, 20:33', dateRaw: '2019-03-21T20:33', }, title: 'Я понял, но не все', text: 'Если вы сами пишете такие письма — почитайте Ильяхова. А в этой заметке я расскажу про заклинание, которое от таких писем помогает.', commentsCount: 12, }, ];
      each val in lastComments
      if val.posterSrc
        li.preview__item
          ul.preview__breadcrumbs
            each breadcrumb in val.breadcrumbs
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href=breadcrumb.link)=breadcrumb.titile
          .preview__background
            img.preview__background-image(src=val.posterSrc width="460" height="240" srcset="img/skyscraper@1x.jpg 1x, img/skyscraper@2x.jpg 2x" alt="Фотография небоскреба")
          time.preview__time(datetime=val.date.dateRaw)=val.date.dateText
          h3.preview__name
            a.preview__name-link(href="#")=val.title
          p.preview__text=val.text
          a.preview__comment(href="#")="Комментарии"
            span.preview__cloud
            b.preview__comment-count=val.commentsCount
      else
        li.preview__item.preview__item--noimage
          ul.preview__breadcrumbs
            li.preview__breadcrumbs-item
              a.preview__breadcrumbs-link(href="#") Фриланс
          time.preview__time(datetime="2019-03-21T20:33") 21.03.2019, 20:33
          h3.preview__name
            a.preview__name-link(href="#")val.title
          p.preview__text=val.text
          a.preview__comment(href="#")="Комментарии"
            span.preview__cloud
            b.preview__comment-count=val.commentsCount
footer.footer
  a.footer__copyright(href="#" aria-label="HTMLAcademy")
    img(src="img/icons/HTMLAcademyLogo.svg" width="112" height="50" alt="HTMLAcademy")
  span.footer__dot
  p.footer__text Типотека, 2019
//
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
